
<div class="chilli-banner">
  <div class="logo-small">
    <img src="https://res.cloudinary.com/rickyschoeman/image/upload/v1609403856/bossieslogo_xoqibz.jpg" alt="Bossies" width="160px" class="logo-avatar">
  </div>
</div>
<div class="show-box">
  <div class="show-box-sauce">
      <%= image_tag(@sauce.photo_url, width: '100%' ) %>
      <h4>
        <%= @sauce.name %>
      </h4>
      <p><bold>Ingredients:</bold> Birds eye chilli's, Vinegar, Apricots, Sugar, Garlic, Onions</p>
      <p>Organic and locally-sourced</p>
      <h3><%= humanized_money_with_symbol(@sauce.price) %> + shipping</h3>
    <div class="add-to-cart">
      <%= simple_form_for OrderSauce.new do |f| %>
        <%= f.input :sauce_id, input_html: { value: @sauce.id }, as: :hidden  %>
        <%= f.input :order_id, input_html: { value: session[:order_id] }, as: :hidden   %>
        <%= f.input :quantity, collection: (1..5)   %>
        <%= f.submit 'Add to Cart', class: "button-contact" %>
      <% end %>
       <div class="checkout-div"> <%#!!!!!!change the button checkout to 'review order', and path to edit order page%>
        <% if session[:order_id] %>
        <%= link_to 'Confirm/Edit Order', edit_order_path(session[:order_id]), class: "checkout" %>
        <% end %>
        </div>
    </div>
  </div>
</div>
<div class="footer">
<h6> Connect with us on Social Media </h6>
  <ul class="list-inline">
           <li>
            <a href="https://www.facebook.com/ricky.schoeman.5" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/bossies_chilli_company/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
       </ul>
</div>
