
<div class="chilli-banner">
  <div class="logo-small">
    <img src="https://res.cloudinary.com/rickyschoeman/image/upload/v1609403856/bossieslogo_xoqibz.jpg" alt="Bossies" width="160px" class="logo-avatar">
  </div>
</div>
<div class="show-box">
  <div class="show-box-sauce">
      <%= image_tag(@sauce.photo_url, width: '100%' ) %>
      <h4>
        <%= @sauce.name %>
      </h4>
      <p><bold>Ingredients:</bold> Birds eye chilli's, Vinegar, Apricots, Sugar, Garlic, Onions</p>
      <p>Organic and locally-sourced</p>
      <p>Amount: <%= humanized_money_with_symbol(@sauce.price) %></p>
      <h3>R50 + shipping</h3>
    <div class="add-to-cart">
      <a href="" target="_blank"><button class="button-contact"><bold>Add to Cart</bold></button></a>
      <%= form_tag orders_path do %>
  <%= hidden_field_tag 'sauce_id', @sauce.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
    </div>
  </div>
</div>
<div class="footer">
<h6> Connect with us on Social Media </h6>
  <ul class="list-inline">
           <li>
            <a href="https://www.facebook.com/ricky.schoeman.5" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/bossies_chilli_company/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
       </ul>
</div>