<div class="chilli-banner">
  <div class="logo-small">
    <img src="https://res.cloudinary.com/rickyschoeman/image/upload/v1609403856/bossieslogo_xoqibz.jpg" alt="Bossies" width="160px" class="logo-avatar">
  </div>
</div>
<div class="show-box">
 <h3> Your order </h3>
  <div class="show-box-sauce">
      <% @order.order_sauces.each do |os| %>
        <%= image_tag os.sauce.photo_url, width: '100%' %>
        <h3><%= os.sauce.name %></h3>
        <p> Quantity: <%= os.quantity %></p>
        <%= link_to "Delete?",
            order_sauce_path(os),
            class: "button-delete",
            method: :delete,
            remote: true,
            data: { confirm: "Are you sure?" } %>
      <% end %>
      <div class="back-button">
        <%= link_to 'add more sauces', sauces_path%>
      </div>
  </div>
  <div class="order-payment-details">
      <p>  R <%= @order.total_price %> ( + R 100 for shipping) </p>
      <h3> Total:  R <%= @order.total_price.to_i + 100%>
    <div class="purchase">
      <%= link_to 'Proceed to payment', new_order_payment_path(session[:order_id]), class: "checkout" %>
    </div>
  </div>
</div>